.mainContainer{
    display: flex;
    background-image: url("../../images/24382369_v602-nunoon-34-rippednotes.svg");
    flex-direction: row;
    justify-content: space-around;
}
.buttons{
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 243, 214);
    padding: 0.5em;
    border: 0.1em rgb(245, 243, 214)solid;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);

}